[Unit]
Description=brcm_patchram_plus
Before=bluetooth.service hwservice.service hwservice_monitor.service

[Service]
Type=oneshot
ExecStart=/etc/init.d/brcm_patchram_plus start
ExecStop=/etc/init.d/brcm_patchram_plus stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
Alias=brcm_patchram_plus.service
