mainmenu "DIBS for $DIBS_BOARD"

config DIBS_BOARD
	string
	option env="DIBS_BOARD"

config BOARD
	string 
	default DIBS_BOARD

source "dibs/Kconfig.platform"
source "dibs/Kconfig.packages"
source "dibs/Kconfig.network"

