menu "Network"
	config NETWORK_HOSTNAME
		string "Hostname"
		default "dibs"

	menuconfig NETWORK_RESOLVER
		bool "Resolver configuration"
	if NETWORK_RESOLVER
		config NETWORK_RESOLVER_DOMAIN
			string "domain"
		config NETWORK_RESOLVER_SEARCH
			string "search"
		config NETWORK_RESOLVER_NS1
			string "nameserver"
			default "8.8.8.8"
		config NETWORK_RESOLVER_NS2
			string "nameserver"
			default "8.8.4.4"
	endif

	menuconfig NETWORK_ETH0
		depends on PACKAGE_NET_TOOLS
		depends on PACKAGE_IFUPDOWN
		bool "eth0"
	if NETWORK_ETH0
		choice NETWORK_ETH0_IP_TYPE
			prompt "IP Type"
			config NETWORK_ETH0_IP_TYPE_DHCP
				depends on PACKAGE_ISC_DHCP_CLIENT
				bool "DHCP"
			config NETWORK_ETH0_IP_TYPE_MANUAL
				bool "Manual"
			config NETWORK_ETH0_IP_TYPE_STATIC
				bool "Static"
		endchoice
		if NETWORK_ETH0_IP_TYPE_STATIC
			config NETWORK_ETH0_IP_ADDR
				string "IP Address"
			config NETWORK_ETH0_IP_NETMASK
				string "Netmask"
			config NETWORK_ETH0_IP_GATEWAY
				string "Gateway"
		endif
	endif

	menuconfig NETWORK_WLAN0
		depends on PACKAGE_NET_TOOLS
		depends on PACKAGE_IFUPDOWN
		depends on PACKAGE_WIRELESS_TOOLS
		bool "wlan0"
	if NETWORK_WLAN0
		config NETWORK_WLAN0_SSID
			string "SSID"
		choice NETWORK_WLAN0_TYPE
			prompt "Network type"
			config NETWORK_WLAN0_TYPE_OPEN
				bool "Open"
			config NETWORK_WLAN0_TYPE_WEP
				bool "WEP"
			config NETWORK_WLAN0_TYPE_WPA
				depends on PACKAGE_WPASUPPLICANT
				bool "WPA"
			config NETWORK_WLAN0_TYPE_WPA2
				depends on PACKAGE_WPASUPPLICANT
				bool "WPA2"
		endchoice
		config NETWORK_WLAN0_KEY
			depends on NETWORK_WLAN0_TYPE_WEP || NETWORK_WLAN0_TYPE_WPA || NETWORK_WLAN0_TYPE_WPA2
			string "Key"
		choice NETWORK_WLAN0_IP_TYPE
			prompt "IP Type"
			config NETWORK_WLAN0_IP_TYPE_DHCP
				depends on PACKAGE_ISC_DHCP_CLIENT
				bool "DHCP"
			config NETWORK_WLAN0_IP_TYPE_MANUAL
				bool "Manual"
			config NETWORK_WLAN0_IP_TYPE_STATIC
				bool "Static"
		endchoice
		if NETWORK_WLAN0_IP_TYPE_STATIC
			config NETWORK_WLAN0_IP_ADDR
				string "IP Address"
			config NETWORK_WLAN0_IP_NETMASK
				string "Netmask"
			config NETWORK_WLAN0_IP_GATEWAY
				string "Gateway"
		endif
	endif
endmenu
