menu "Packages"
	config PACKAGE_USERDEFINED
		string "User defined, space separated list"
	config PACKAGE_APT
		bool apt
	config PACKAGE_BLUEZ
		bool bluez
	config PACKAGE_CRDA
		bool crda
	config PACKAGE_DNSUTILS
		bool dnsutils
	config PACKAGE_DOSFSTOOLS
		bool dosfstools
	config PACKAGE_DROPBEAR
		bool dropbear
	config PACKAGE_IFUPDOWN
		bool ifupdown
	config PACKAGE_IPUTILS_PING
		bool iputils-ping
	config PACKAGE_ISC_DHCP_CLIENT
		bool isc-dhcp-client
	config PACKAGE_KMOD
		bool kmod
	config PACKAGE_LESS
		bool less
	config PACKAGE_LIBBLUETOOTH3
		bool libbluetooth3
	config PACKAGE_LOCALES
		bool locales
	config PACKAGE_NET_TOOLS
		bool net-tools
	config PACKAGE_PARTED
		bool parted
	config PACKAGE_VIM_TINY
		bool vim-tiny
	config PACKAGE_WIRELESS_TOOLS
		bool wireless-tools
	config PACKAGE_WPASUPPLICANT
		bool wpasupplicant
endmenu
